@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body {
  font-family: "Lexend exa", Arial;
  overflow-x: hidden;
  background-image: url(./images/bg-2.png);
  background-repeat: repeat;
  background-size: cover; 
}

input.form-control::placeholder {
  opacity: .5;
}

h1 {
  color: #000000;
}

.btn-primary,
.search-btn {
  background-color: #ffa630;
  border: none;
}

.message {
  z-index: 999;
}
/* for header part only */
header{
    background-color: #0f3a4b;
    height: 80px;
    box-shadow: 0px 2px 5px #031b23;
    
  }
  .header-nav{
    height: 80px;
  }
  .logo{
    height: 50px;
  }
  .profile-logo{
    color: #fb7e00;
  }
  @media (max-width:570px) {
    header span{
      visibility: hidden;
    }    
    .logo-area{
      width: 30px;
      margin: 30px 0 0 0 ;
    }
    }
  
  nav li{
    list-style: none;
    padding: 0px 10px;
    
  }
  nav li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
  }
  header span, footer span{
    font-family: "Lexend Exa", Arial;
    color: #ffff;
    font-size: 20px;
  }
  nav a:hover,
  nav .active,
  nav .active:focus,
  nav li:hover>a {
    color: #ffa630;
    
  }
  nav i{
    font-size: 40px;
  }
  nav ul{
    margin-top: 20px;
  }
 .dropdown ul{
  display: block;
  position: absolute;
  right: 10px;
  z-index: 99;
  background: #fff;
  color: #161616;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
  visibility: hidden;
 }
 .user-logo{
  filter: brightness(0) invert(1);
 }
 .dropdown:hover>ul{
    visibility: visible; 
  }
  .dropdown ul a:hover,
  .dropdown ul .active:hover,
  .dropdown ul li:hover>a {
    color: #b64900;
  }

 /* home page */

.bg-image{
  
  background-image: url(images/nordwood-themes-EZSm8xRjnX0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
}

.home-quote h1{
  color: #2a93bd;
  font-family: "Arvo";
}
footer p{
    color:#ffff;
    font-size: 16px;
  
}
/* home page part 2*/
.img img{
  height: 300px;
  width:  300px;
  border-radius: 25px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  transform: rotate(-10deg);
}
.owner-quote{
  height: 600px;;
  background-color: #ffff;

}
.owner-quote h1{
  color: #b64900;
  font-family: "Arvo";
}
.btn-sign-up span{
  color: black;
}
a{
  text-decoration: none;
}

.footer{
    background-color: #03151c;
    height: 90px;
    box-shadow: 0px 5px 10px #00171f;
    z-index: 10000;
    padding: 15px 15px 15px 0px;
}
.footer hr{
  margin: 0;
  height: 3px;
  background-color: black;
}

/* login page */
.logimg img{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.login, .signup{
  margin-top: 150px;
}
/*details page*/
.details p{
  margin: 0;
  padding: 2px;
}
.details h1, h2{
  color: black;
}
.links ul li{
  list-style: none;
  
}
.info{
  width:70vw;
  margin-top: 70px;
}
.info .card{
  margin: 30px 0px;
}
.details{
  width: 90vw;
  height: 20vh;
  background-color: #ffff;
  top: 80px;
  padding-top: 10px;
  border-bottom: 5px solid #fb7e00;
  
}

.links a:hover,
.links .active,
.links .active:focus,
.links li:hover>a {
    border-bottom: 3px solid #fb7e00;
    
  }

.branches{
  width: 100vw;
}
.nav-item{
  margin: 10px 10px 0px 10px;
}

/*side nav bar*/
.side-nav {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  padding: 50px 0 0; /* Height of navbar */
  box-shadow: 2px 0 10px -5px #333;
  z-index: 600;
  width: 18em;
  
}


.side-nav .nav-item{
  list-style: none;
  margin: 0px 20px;
  height: 40px;
 
  

}
.side-nav .nav-item a span{
  color: black;
  font-family: "Lexend Exa";
  width: auto;
  padding: 3px;
  font-style: normal;
}
.side-nav .nav-item:hover,
.side-nav .active,
.side-nav .active:focus,
.side-nav div a:hover>a {
  border-bottom: 3px solid #fb7e00;
}

.side-nav i{
  font-size: 25px;
  color: black;
  padding-right: 5px;
}
.vouch-icon{
  width: 25px;
  height: 30px;
  margin-right: 5px;
}
/*profile pages main content*/
.profile, .purchase, .voucher,
.own_vouch, .admin-reg, .owner-order-list, .own-bus, .admin-users{
  margin: 120px 10px 50px 20vw;
  width: 75vw;
  scroll-margin-top:100px;
  height: 100vh;

}


.admin-bus-list{
  margin: 120px 10px 50px 150px;
  width: 75vw;
  height: 100vh;
}

/*
profile page*/
h1{
  font-family: "Arvo";
}
.btn-edit{
  color: #161616;
}
/* cards*/
.purchase .card, .voucher .card, .own_vouch .card{
  margin: 20px 0px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

.card-img{
  height: 200px;
  width:  200px;
}
.ext{
  border-left: 1px solid rgb(212, 212, 212);
}

/*package*/
#pack{
  margin-top: 100px;
}



.btn-back{
 color: #ffff;
}
.bi-arrow-left{
  font-size: 30px;
  
}

  /*search*/
.search-header{
    margin-top: 80px;
    background-image: url(./icons/plan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  #searchbar input{
    width: 20em;
  }
  .search-btn{
    color: #ffff;
  }
  .search-btn:hover{
    background-color: #007ea7;
  }
/*service*/
  .body-content .card{
  width: 90%;
  height: 30vh;
  margin: 30px 50px;
}

.body-content{
  margin-top: 150px;
}
.body-content .card-img{
  max-width: 30%;
  max-height: 100%;
}

/*package page*/
.pack-head{
  height: 12vh;
  top: 100px;
  padding-top: 25px;
  width: 100vw;
  position: relative;
}
.pack{
  margin: 30px 100px
}

.admin-reg{
  height: 100vh;
}

/*business registration page*/
.bus-reg{
  width: 80vw;
  padding: 20vh;
  margin: 0px 10vw;
  
}
@media (max-width:1250px) {
  .bus-reg {
    margin-top: 100px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}
/*business registration page*/
.bus-reg h5{
  background-color: #003459;
  color: #fff;
}
.bus-reg h6{
  background-color: #00a8e8;
  color: #161616;
}
.bus-reg .overflow-hidden .row{
  padding: 5px 0px;
}
.note{
  padding: 5;
  margin: 0;
  font-size: 15px;
}
/*owner business details page*/
.column{
  padding: 0px 30px;
}

.column .form-control{
  margin: 0px 0px 10px 0px;
}
.column .about-field, 
.column .contact-field{
  height: 80px;
}

.column .card{
  height: auto;
}
.pack-name{
  width: 30em;
}
.own-pack-edit{
  width: 85vw;
  margin: 100px;
  height: 100vh;
}
/*custom page*/
.custom-pack {
  width: 100vw;
  margin-left: 30px;
}

.package-info {
  width: 50vw;
  height: 65vh;
  margin: 120px 0 0 80px;
}

.accords {
  height: 60vh;
  overflow: scroll;
  margin-bottom: 100px;
}
.accords::-webkit-scrollbar, .order::-webkit-scrollbar {
  display: none;
}
.accord-check{
  margin: 5px;
}
.accordion-body .form-check-input{
  height: 25px;
}
.custom{
  height: 100vh;
}
.order-list{
  left: 40px;
  width: 30vw;
  height: 75vh;

}
.order-header{
  background-color: #ffff;
  margin-top: 0px;
  padding: 0px 25px;
}
.order-list .table thead{
  border-top: none;
}
.total{
  padding: 20px 20px 0px 20px;
  background-color: #ffff;
}

/*=======================================*/
.business-form-background {
  background-color: #ffffff;  
  padding: 30px;
  border-radius: 10px; 
}



.bi bi-plus-square white-text{
  color: rgb(255, 255, 255);
}


.fixed-width {
  width: 100px; /* Adjust the width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.bus-info-header{
  border-bottom:solid 5px #fb7e00;
}

.busNameHeader, .aboutHeader, .contactHeader{
  border-bottom:solid 3px #003459;
}

#imagePreview, #imageAddBranch, .view-branch-pic{
  width: 25vw; 
  height: 45vh;
}